{{!< main}}
<div class="text-center">
<style>
  a {
    color:black;
  }
</style>
<h1>Calendar</h1>
<form action="/calendar/add" method="POST">
  <input type="text" name="title" placeholder="Event Title" required>
  <textarea name="description" placeholder="Description"></textarea>
  <input type="date" name="startDate" required>
  <input type="time" name="time" required>
  <button type="submit">Add Event</button>
</form>

  <ul style="list-style-type: none;">

  {{#each events}}
  <li>
    {{this.title}} - {{this.startDate}} at {{this.time}}
    <a href="/calendar/edit/{{this._id}}"class="btn btn-primary">Edit</a>
    <form action="/calendar/delete/{{this._id}}" method="POST">
      <button type="submit"class="btn btn-danger">Delete</button>
    </form>
  </li>
  {{/each}}
</ul>
</div>