{{!< main}}
<style>
  .text-center {
    text-align: center;
  }

  a {
    color: black;
  }

  ul {
    padding: 0;
    list-style-type: none;
  }

  .food-item {
    background-color: #f5f5dc; /* Cream color */
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 5px; /* Rounded corners for the card */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
   
  }
</style>


<div class="text-center">
  <h1>Daily Food Intake</h1>
<form action="/diet/add" method="POST">
  <input type="text" name="name" placeholder="Food Name">
  <input type="number" name="carbs" placeholder="Carbs">
  <input type="number" name="protein" placeholder="Protein">
  <input type="number" name="calories" placeholder="Calories">
  <button type="submit">Add Food Item</button>
</form>

  <ul style="list-style-type: none;">

  {{#each foodItems}}
  <li class="food-item">
    {{this.name}} - Carbs: {{this.carbs}}g, Protein: {{this.protein}}g, Calories: {{this.calories}}
    <a href="/diet/edit/{{this._id}}" class="btn btn-primary">Edit</a>
    <form action="/diet/delete/{{this._id}}" method="POST" style="display: inline;">
      <button type="submit" class="btn btn-danger">Delete</button>
    </form>
  </li>
{{/each}}

</ul>
</div>

