{{!< main}}
<div class="text-center">
<style>
  a{
    color:black;
  }
</style>

<h1>Sleep Tracker</h1>
<form action="/sleep/add" method="POST">
  <label for="quality">Sleep Quality:</label>
  <select name="quality" id="quality">
    <option value="great">Great</option>
    <option value="okay">Okay</option>
    <option value="bad">Bad</option>
  </select>
  
  <label for="duration">Duration (hours):</label>
  <input type="number" name="duration" id="duration" required>

  <label for="date">Date:</label>
  <input type="date" name="date" id="date" required>

  <button type="submit">Add Entry</button>
</form>

<ul>
  {{#each sleepEntries}}
    <li>
      {{this.date}} - {{this.quality}} - {{this.duration}} hours
      <a href="/sleep/edit/{{this._id}}"class="btn btn-primary">Edit</a>
      <form action="/sleep/delete/{{this._id}}" method="POST">
        <button type="submit"class="btn btn-danger">Delete</button>
      </form>
    </li>
  {{/each}}
</ul>
</div>